$Abt:Akrobat;

.game-contact{
	margin-top: 180px;
}

////slieder 
.slider{
width: 90%; /* ширина слайдера в процентах относительно родительского блока (body) */
}
.slider__item {
	width: 100%; /* Ширина слайда относительно родительского блока (.slider) */
	height: 750px; /* Высота слайда */

}

.bg1{
	background: red;
}

.bg2{
	background: purple;
}

.custom-dots{
	position: absolute; /* абсолютное позиционирование , в данном случае потому что я работаю в пустом проекте */ 
	right: 5%;
	top: 50%;
}
.custom-dots ul{
	list-style: none;/*  убираем точки от тега ul */
	display: flex;
	flex-direction: column; 
}
.custom-dots ul li{
}
.custom-dots ul li button{ /* кастомизируем наши точки */
	background: red;
	width: 15px;
	height: 15px;
	border: none;


}
.slick-dots li button::before {
	opacity: 0 !important; /* убираем старые */
}


.game-about {

	&__title {
		margin-top: 120px;
	}

	&__title-txt1 {
		font-family: Zona Pro;
		font-style: normal;
		font-weight: 800;
		font-size: 72px;
		line-height: 85px;
		text-transform: uppercase;
		color: #000000;

	}

	&__subtitle {
		margin-top: 40px;
	}

	&__subtitle-txt2 {
		font-family: Akb;
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 30px;
		color: #000000;
	}
}
