$Abt:Akrobat;
.head{
	&__title h1{
		font-family: Zona;
		font-weight: 800;
		font-size: 72px;
		line-height: 85px;
		@media only screen and(max-width: 1440px){
		font-size: 58px;
		}
	}
}
.cart {
	&__link{
		text-decoration: none;
		color: black;
	}
	&__link:hover{
		color: black;
	}
	/* .cart__window */
	&__window {
		background: #F5F5F5;
		width: 100%;
		margin-bottom: 20px;
	}
	/* .cart__img */
	&__img {
		overflow: hidden;
		img{
			width: 100%;
			height: auto;
			transition: all 1s ease;
		}
	}
	/* .cart__date */
	&__date {
		span{
			font-family: $Abt;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 150%;
			color: #C3B6B6;
		}

	}
	&__date span:before{
		content: url('../img/browser-outline.svg');
		position: relative;
		top:7px;
		margin-right: 10px;
	}
	/* .cart__title */
	&__title {
		h3{
			font-family: $Abt;
			font-weight: 800;
			font-size: 32px;
			line-height: 40px;
			@media only screen and(max-width: 1440px){
					font-size: 28px;
				}
		}
	}
	&__description{
		padding: 40px;
	}
	/* .cart__description */
	&__paragr {
		p{
			font-family: $Abt;
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
			line-height: 30px;
				@media only screen and(max-width: 1440px){
					font-size: 20px;
				}

		}
	}
	/* .cart__arrow */
	&__arrow {
		width: 75px;
		height: 50px;
		background: url('../img/newsarrow.svg') no-repeat center center;
		position:relative;
		left: -20%;
		opacity: 0;
		transition: all 0.7s ease;
	}
	//Effect hover//
	&__window:hover &__img img{
		transform: scale(1.3) rotate(-25deg);
	}
	&__window:hover &__arrow{
		left: 0;
		opacity: 1;
	}
}

